
@{
    ViewBag.Title = "Contact";
}

<h1 class="page-intro-text">Contact</h1>

<div class="form-container">
    <p>Words about contacting Kelly</p>
    <form class="contact-form">
        <input name="name" type="text" class="feedback-input" placeholder="Name" required />
        <input name="email" type="text" class="feedback-input" placeholder="Email" required />
        <textarea name="text" class="feedback-input" placeholder="Your message here" required></textarea>
        <input type="submit" value="SUBMIT" />
    </form>
</div>

