@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>


<!-- The Modals -->

<div class="service-rows">
    <div class="service-container">
        <div class="button"><img src="/Images/massage.jfif" alt="matryoshka"></div>
        <div class="modal">
            <div class="front"><img src="/Images/massage.jfif" alt="matryoshka"></div>
            <div class="back">
                <div class="content">
                    <h1>Pants</h1>
                    <p>In A Box</p>
                </div>
            </div>
            <div class="opened">
                <div class="content">
                    <h1>Pant</h1>
                    <p>Take off</p>
                </div>
                <div class="close"></div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
    <div class="service-container">
        <div class="button"><img src="/Images/massage.jfif" alt="matryoshka"></div>
        <div class="modal">
            <div class="front"><img src="/Images/massage.jfif" alt="matryoshka"></div>
            <div class="back">
                <div class="content">
                    <h1>Pants</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
            </div>
            <div class="opened">
                <div class="content">
                    <h1>Banana</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
                <div class="close"></div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
    <div class="service-container">
        <div class="button"><img src="/Images/massage.jfif" alt="matryoshka"></div>
        <div class="modal">
            <div class="front"><img src="/Images/massage.jfif" alt="matryoshka"></div>
            <div class="back">
                <div class="content">
                    <h1>Pants</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
            </div>
            <div class="opened">
                <div class="content">
                    <h1>Banana</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
                <div class="close"></div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
    <div class="service-container">
        <div class="button"><img src="/Images/massage.jfif" alt="matryoshka"></div>
        <div class="modal">
            <div class="front"><img src="/Images/massage.jfif" alt="matryoshka"></div>
            <div class="back">
                <div class="content">
                    <h1>Pants</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
            </div>
            <div class="opened">
                <div class="content">
                    <h1>Banana</h1>
                    <p>A Matryoshka nesting doll is a set of typically seven wooden dolls of decreasing sizes that all fit inside of each other, one by one. Each stacking doll splits in half at the mid section and opens to reveal another smaller doll nested within. The traditional Matryoshka doll is usually round in shape and decoratively painted to resemble a pretty young faced peasant woman dressed or bundled up in an extravagant sarafan costume, a loose fitting traditional Russian garment. </p>
                </div>
                <div class="close"></div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
</div>
