@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>


<!-- The Modals -->

<div class="service-rows">
    <div class="service-container">
        <div class="button" trigger="0" data-modal="#modalOne">
            <img class="btn-image" src="~/Images/spring_image.jpg" alt="Spring landscape">
            <p class="btn-text">60 Minute Massage</p>
        </div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalTwo">
            <img class="btn-image" src="~/Images/summer_image.jpg" alt="Summer landscape">
            <p class="btn-text">75 Minute Massage</p>
        </div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalThree">
            <img class="btn-image" src="~/Images/fall_image.jpg" alt="Fall landscape">
            <p class="btn-text">90 Minute Massage</p>
        </div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalFour">
            <img class="btn-image" src="~/Images/winter_image.jpg" alt="Winter landscape">
            <p class="btn-text">Add-Ons</p>
        </div>
    </div>

    <div id="modalOne" class="modal">
        <div class="front"><img class="btn-image" src="~/Images/spring_image.jpg" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1 class="modal-header">60 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo ritter bit...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1 class="modal-header">60 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo ritter bit...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalTwo" class="modal">
        <div class="front"><img class="btn-image" src="~/Images/summer_image.jpg" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1 class="modal-header">75 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo bit ronger...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1 class="modal-header">75 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo bit ronger...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalThree" class="modal">
        <div class="front"><img class="btn-image" src="~/Images/fall_image.jpg" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1 class="modal-header">90 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo rear rong time...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1 class="modal-header">90 Minute Massage</h1>
                <p class="modal-text">Me ruv you fo rear rong time...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalFour" class="modal">
        <div class="front"><img class="btn-image" src="~/Images/winter_image.jpg" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1 class="modal-header">Add-Ons</h1>
                <p class="modal-text">Extra tings to ruv you better with...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1 class="modal-header">Add-Ons</h1>
                <p class="modal-text">Extra tings to ruv you better with...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>
</div>
