@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>


<div class="service-rows">
    <div class="service-1-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal-1" data-toggle="modal">
                <p id="service-btn-text">60 Minute Massage</p>
            </button>
            <div class="modal" id="service-modal-1" role="dialog">
                <div class="modal-dialog" id="service-modal-dialogue">
                    <div class="modal-header">
                        <h4>60 Minute Massage</h4>
                    </div>
                    <div class="modal-body">
                        <p>Me ruv you fo bit.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-2-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal-2" data-toggle="modal">
                <p id="service-btn-text">90 Minute Massage</p>
            </button>
            <div class="modal" id="service-modal-2" role="dialog">
                <div class="modal-dialog" id="service-modal-dialogue">
                    <div class="modal-header">
                        <h4>90 Minute Massage</h4>
                    </div>
                    <div class="modal-body">
                        <p>Me ruv you fo bit ronger.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-3-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal-3" data-toggle="modal">
                <p id="service-btn-text">120 Minute Massage</p>
            </button>
            <div class="modal" id="service-modal-3" role="dialog">
                <div class="modal-dialog" id="service-modal-dialogue">
                    <div class="modal-header">
                        <h4>120 Minute Massage</h4>
                    </div>
                    <div class="modal-body">
                        <p>Me ruv you fo real rong time.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-4-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal-4" data-toggle="modal">
                <p id="service-btn-text">Add Ons</p>
            </button>
            <div class="modal" id="service-modal-4" role="dialog">
                <div class="modal-dialog" id="service-modal-dialogue">
                    <div class="modal-header">
                        <h4>Add Ons</h4>
                    </div>
                    <div class="modal-body">
                        <p>Ancient Chinese secrets to ruv you with.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
