@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>


<!-- The Modals -->

<div class="service-rows">
    <div class="service-container">
        <div class="button" data-modal="#modalOne"><img src="/Images/massage.jfif" alt=" stick massage"></div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalTwo"><img src="/Images/massage.jfif" alt=" stick massage"></div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalThree"><img src="/Images/massage.jfif" alt=" stick massage"></div>
    </div>
    <div class="service-container">
        <div class="button" data-modal="#modalFour"><img src="/Images/massage.jfif" alt=" stick massage"></div>
    </div>

    <div id="modalOne" class="modal">
        <div class="front"><img src="/Images/massage.jfif" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1>60 Minute Massage</h1>
                <p>Me ruv you fo ritter bit...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1>60 Minute Massage</h1>
                <p>Me ruv you fo ritter bit...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalTwo" class="modal">
        <div class="front"><img src="/Images/massage.jfif" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1>90 Minute Massage</h1>
                <p>Me ruv you fo bit ronger...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1>90 Minute Massage</h1>
                <p>Me ruv you fo bit ronger...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalThree" class="modal">
        <div class="front"><img src="/Images/massage.jfif" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1>120 Minute Massage</h1>
                <p>Me ruv you fo rear rong time...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1>120 Minute Massage</h1>
                <p>Me ruv you fo rear rong time...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>

    <div id="modalFour" class="modal">
        <div class="front"><img src="/Images/massage.jfif" alt="massage"></div>
        <div class="back">
            <div class="modal-content">
                <h1>Add-Ons</h1>
                <p>Extra tings to ruv you better with...</p>
            </div>
        </div>
        <div class="opened">
            <div class="modal-content">
                <h1>Add-Ons</h1>
                <p>Extra tings to ruv you better with...</p>
            </div>
            <div class="close">&times;</div>
        </div>
    </div>
    <div class="wrapper"></div>
</div>
