@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>

<div class="service-rows">
    <div class="service-1-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="btn-image-1" alt="Stick figure massage"
                    data-target="#MyModal" data-toggle="modal">
                Modal Button
            </button>
            <div class="modal" id="MyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-2-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="btn-image-1" alt="Stick figure massage"
                    data-target="#MyModal" data-toggle="modal">
                Modal Button
            </button>
            <div class="modal" id="MyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-3-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="btn-image-1" alt="Stick figure massage"
                    data-target="#MyModal" data-toggle="modal">
                Modal Button
            </button>
            <div class="modal" id="MyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-4-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="btn-image-1" alt="Stick figure massage"
                    data-target="#MyModal" data-toggle="modal">
                Modal Button
            </button>
            <div class="modal" id="MyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
