@{
    ViewBag.Title = "Services";
}

<h1 class="page-intro-text">Services</h1>


<div class="service-rows">
    <div class="service-1-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal" data-toggle="modal">
                <p id="service-btn-text">60 Minute Massage</p>
            </button>
            <div class="modal" id="service-modal" role="dialog">
                <div class="modal-dialog" id="service-modal-dialogue">
                    <div class="modal-header">
                        <h4>60 Minute Massage</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-2-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal" data-toggle="modal">
                90 Minute Massage
            </button>
            <div class="modal" id="service-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-3-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal" data-toggle="modal">
                120 Minute Massage
            </button>
            <div class="modal" id="service-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-4-container">
        <div class="modal-container">
            <button type="button" class="btn btn-info btn-lg" id="service-btn-image" alt="Stick figure massage"
                    data-target="#service-modal" data-toggle="modal">
                Add Ons
            </button>
            <div class="modal" id="service-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>DemoModal Title</h4>
                    </div>
                    <div class="modal-body">
                        <p> Welcome to modal body your content will go here</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-lg btn-primary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
