
@{
    ViewBag.Title = "About";
}

<h1 class="page-intro-text">About Kelly</h1>
<div class="row">
    <div class="column_1">
        <img class="headshot" src="~/Images/KK_headshot.jpg"
             alt="Headshot of Kelly Krug" />
    </div>
    <div class="column_2">
        <div class="text-container">
            <p id="about-text">
                Kelly Krug, LMT has been a Licensed, Portland massage Therapist 
                since 2018, however she began her career as an LMT in Wisconsin, 
                her home state. Kelly approaches every Massage with an understanding 
                that every body is unique and requires a session tailored specifically 
                to them, to focus on exactly the healing necessary to bring you 
                back to optimal wellness. She aims to provide a therapeutic massage 
                experience as she likes to incorporate deep tissue, and myofascial 
                stretching techniques in each session. She started Hazy Touch 
                Bodywork after being laid off during the 2020 Covid19 pandemic 
                realizing that our new normal might be keeping more people inter 
                safety of their own homes. Kelly aims to provide 5 star service to 
                every guests, request an appointment today and commit to your wellness!
            </p>
        </div>
    </div>
</div>

