
@{
    ViewBag.Title = "About";
}

<h1 class="page-intro-text">About Kelly</h1>
<div class="row">
    <div class="column_1">
        <img class="headshot" src="~/Images/KellyKrug_and_Cat.jpg"
             alt="Picture of Kelly Krug with her Cat" />
    </div>
    <div class="column_2">
        <div class="text-container">
            <p id="about-text">
                Positive, accomplished, dependable, and accountable. Having been
                hesitant about choosing a career path, I finally found where I belong.
                I'm truly looking forward to building my career in the beauty, health
                and wellness industry.
                <br />
                <br />
                I have worked in customer service industry for 10 years now with four
                of those years being a Licensed Massage Therapist and couldn’t imagine
                doing anything different. Being this type of person, I feel most
                fulfilled when able to interact with people directly and help them to
                bring intentional healing into their lives.
            </p>
        </div>
    </div>
</div>

