
@{
    ViewBag.Title = "About";
}

<h1 class="page-intro-text">About Kelly</h1>
<div class="row">
    <div class="column_1">
        <img class="headshot" src="~/Images/KellyKrug_and_Cat.jpg"
                alt="Picture of Kelly Krug with her Cat" />
    </div>
    <div class="column_2">
        <div class="text-container">
            <p id="about-text">
                I like big butts and I can not lie
                You other brothers can't deny
                That when a girl walks in with an itty, bitty waist
                And a round thing in your face

                You get sprung, wanna pull up tough
                'Cuz you notice that butt was stuffed
                Deep in the jeans she's wearing
                I'm hooked and I can't stop staring

                Oh baby, I wanna get with ya and take your picture
                My homeboys tried to warn me but that butt you got
                Make me so horny, ooh, rumple smooth skin
                You say you wanna get in my Benz
                Well, use me use me 'cuz you ain't that average groupy
            </p>
        </div>
    </div>
</div>

