@{
    ViewBag.Title = "Home";
}

<div class="content">
    <div>
        <h2 class="intro-text elementToFadeInAndOut">Welcome to</h2>
        <h1 class="main-title fade-in one">Hazy Touch</h1>
        <h2 class="sub-title fade-in two">mobile bodywork</h2>
    </div>

    <div class="welcome-container fade-in three">
        <p class="body-text">Mission statement</p>
    </div>
</div>
